.section_editor{
    box-sizing: border-box;

    position: absolute;
    height: 92vh;
    width: 50%;
    left: 50%;
    top: 8vh;
    border-radius: 0px;


background: #2D3242;
border: 1px solid #000000;
}

.editor_code{
    position: absolute;
    height: 77vh;
    width: 100%;
    left: 0%;
    top: 7vh;
    border-radius: 0px;

    background: #2D3242;
    border: 1px solid #000000;
}

.editor_head{
    position: absolute;
    left: 0vh;
    top: 0%;
    width: 100%;
    height: 7vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-indent: 50px;

    color: #FFFFFF;

    border: 1px solid #000000;
}

.execute{
    position: absolute;
    left: 62.29%;
    right: 28.44%;
    top: 93.84%;
    bottom: 1.89%;

    background: #D9D9D9;
    border-radius: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoring{
    position: absolute;
    left: 72.92%;
    right: 17.81%;
    top: 93.84%;
    bottom: 1.89%;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    background: #D9D9D9;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    position: absolute;
    left: 86.77%;
    right: 3.96%;
    top: 93.84%;
    bottom: 1.89%;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    background: #3A66FF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open{
    cursor: pointer;
    position: absolute;
    left: 2%;
    right: 3.96%;
    top: 92.84%;
    bottom: 2.89%;
    font-size: 30px;
    color: #FFFFFF;
}

.clear{
    cursor: pointer;
    position: absolute;
    left: 7%;
    right: 3.96%;
    top: 92.84%;
    bottom: 2.89%;
    font-size: 30px;
    color: #FFFFFF;
}

.copy{
    cursor: pointer;
    position: absolute;
    left: 12%;
    right: 3.96%;
    top: 92.84%;
    bottom: 2.89%;
    font-size: 30px;
    color: #FFFFFF;
}

.download{
    cursor: pointer;
    position: absolute;
    left: 17%;
    right: 3.96%;
    top: 92.84%;
    bottom: 2.89%;
    font-size: 30px;
    color: #FFFFFF;
}

.save_row{
    position:absolute;
    display:flex;
    left: 72%;
    top: 1%;
    align-items: center;
}

.save_slot{
    font-size: 1.7em;
    margin-left: 6%;
    color: white;
    background-color: #2D3242;
    border-color: #2D3242;
}

.save_header{
    color:white;
    font-size: 1.6em;
    font-weight: 700;
}




