.section_head{

    box-sizing: border-box;
    position: absolute;
    width: inherit;
    height: 8vh;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.87);
    background-blend-mode: hard-light;
    mix-blend-mode: normal;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.head_title{
    position: absolute;
    width: auto;
    height: 42px;

    /* left: calc(50% - 373px/2 - 21.5px);
    top: calc(50% - 42px/2 - 0.5px); */

    background: #D9D9D9;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}