.section_problem{
    position: absolute;
    width: 50%;
    height: 92vh;
    left: 0px;
    top: 8vh;
    background: #2D3242;
    border: 1px solid #000000;
}

.problem_head{
    position: absolute;
    width: 100%;
    height: 7vh;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-indent: 50px;

    color: #FFFFFF;
    border: 1px solid #000000;
}
.problem_line{
    position: absolute;
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 85.56%;
    
    border: 1px solid #000000;
}

.problem_desc{
    position: absolute;
    top: 15vh;
    text-indent: 20px;
    color: white;
}